.swiper-button-disabled {
  color: $color-grey;
}

.swiper-wrapper.swiper-wrapper--nojs {
  flex-direction: column;
}

.swiper-wrapper--nojs ~ .swiper-button-prev,
.swiper-wrapper--nojs ~ .swiper-button-next {
  display: none;
}

@media (min-width: $desktop-width) {
  .swiper-pagination-bullet {
    width: 62px;
    height: 4px;
    background-color: $color-white;
    border-radius: 0;

    &:hover {
      background-color: $color-primary-opacity;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $color-primary;
  }
}
